{# src/WCDC/CoreBundle/Resources/views/Menu/ #}

<div class="row">
    <div id="category" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        {% for category in categories %}
            <li>
                <input id="{{ category.name }}" type="checkbox" name="categories[]" value="{{ category.name }}" > <label for="{{ category.name }}">{{ category.name }}</label>
            </li>
        {% endfor %}
    </div>

    <div id="city" class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        {% for city in cities %}
            <li>
                <input id="{{ city.name }}" type="checkbox" name="cities[]" value="{{ city.name }}" > <label for="{{ city.name }}">{{ city.name }}</label>
            </li>
        {% endfor %}
    </div>
</div>