{% extends "WCDCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'Contact'|trans }} - {{ parent() }}
{% endblock %}



{% block body %}
    <div class="menu-centered contact-title1">Contact</div>
    <hr size="1" align="center" width="80%">
    <div class="menu-centered contact-title2">How to contact us</div>
    <div class="contact-bar"></div>
    <div class="rond"></div>
    <br/>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-10 col-lg-offset-1">
                <form class="form-horizontal" id="my_form" action="" method="post">
                    <div class="well" style="margin: 0px 50px 50px 50px;">

                        <div class="form-group">
                            {#<label >Name</label>#}
                            <input class="form-control" type="text" name="Nom" placeholder="Name*" required>
                        </div>

                        <div class="form-group">
                            {#<label >First Name</label>#}
                            <input class="form-control" type="text" name="Prenom" placeholder="Firstname *" required>
                        </div>

                        <div class="form-group">
                            {#<label >Mail</label>#}
                            <input class="form-control" type="email" name="Mail" placeholder="Mail*" required minlength="6">
                        </div>

                        <div class="form-group">
                            {#<label >Phone</label>#}
                            <input class="form-control" type="tel" name="Telephone" placeholder="Phone number" minlength="10" maxlength="10">
                        </div>

                            {#<label >Message</label>#}
                        <textarea id="message" class="thumbnail" name="Message" rows="8" cols="74" placeholder="Send here your request, we will respond as soon as possible *" required></textarea>


                        <div class=""><div class="g-recaptcha" data-sitekey="6LduXCITAAAAAHa_DWmmSXCrZGbDyLahcgyrE_Kc" style="margin-bottom: 20px; margin-left: 25px;"></div></div>
                        <br/>

                        <div class="clearfix"></div>
                        <div id="div-captcha" class="col-lg-2 col-lg-offset-5">
                            <input class="btn btn-primary btn-lg" type="submit" name="submit" value="Send" style="margin-bottom: 10px;">
                        </div>
                        <div class="clearfix"></div>
                        <p class="champs_requis">* required fields</p>
                        <br/>
                        <br/>

                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}