{% include "WCDCUserBundle:User_interface:submenu_layout.html.twig" %}
{% trans_default_domain 'FOSUserBundle' %}

<h3>Edit your profile</h3>
<hr/>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'well col-sm-8 col-sm-offset-2'}})}}


<div class="form-group">
    {{ form_errors(form.username) }}
    {{ form_label(form.username, 'Username'|trans) }}
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.email) }}
    {{ form_label(form.email, 'Email'|trans) }}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Mail'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.current_password) }}
    {{ form_label(form.current_password, 'Current Password'|trans) }}
    {{ form_widget(form.current_password, {'attr': {'class': 'form-control', 'placeholder': 'Current Password'}}) }}
</div>
{{ form_rest(form) }}
<div style="text-align: center;">
    <input type="submit" value="{{ 'Update'|trans }}" class="btn btn-primary"/>
</div>
{{ form_end(form) }}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $('.control-label').removeClass('col-sm-2');
    $('.control-label').addClass('col-sm-4');
</script>