
{% include "WCDCUserBundle:User_interface:submenu_layout.html.twig" %}

<div class="container-fluid">
    <div class="row">
        <br/>
        <div class="menu-centered contact-title2 " style="margin-bottom: 20px;">{{ user.username }}</div>
        <div class="col-lg-6 col-lg-offset-3">
            <div class="progress progress-success">
                <div class="bar" style="width: 80%"></div>
                <span style="float: right; position: absolute; left: 465px; top: 0px;">80%</span>
            </div>
        </div>
    </div>
    <div class="row" style="text-align: center;">
        <img src="http://placehold.it/200x200" alt="" class="img-circle">
    </div>
</div>

<br/>

<div class="menu-centered contact-title2">{{ user.username ~ "'s " }}concepts</div>
<hr size="1" align="center">
<div class="container-fluid">
    <div class="row">

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#concept/id">
                        <div class="thumbnail">
                            <img class="vign-img-left" src="http://placehold.it/130x130" alt="">
                            <img class="vign-img-right" src="http://placehold.it/130x130" alt="">
                            <p class="contour-text">Date - Category</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#concept/id">
                        <div class="thumbnail">
                            <img class="vign-img-left" src="http://placehold.it/130x130" alt="">
                            <img class="vign-img-right" src="http://placehold.it/130x130" alt="">
                            <p class="contour-text">Date - Category</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
            <ul class="thumbnails">
                <li class="span4">
                    <a href="#concept/id">
                        <div class="thumbnail">
                            <img class="vign-img-left" src="http://placehold.it/130x130" alt="">
                            <img class="vign-img-right" src="http://placehold.it/130x130" alt="">
                            <p class="contour-text">Date - Category</p>
                        </div>
                    </a>
                </li>
            </ul>
        </div>

    </div>
</div>
