{% extends "WCDCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'Home'|trans }} - {{ parent() }}
{% endblock %}

{% block slide_top %}

    <!-- Header Carousel -->
    <header id="myCarousel" class="carousel slide hidden-phone">
        <!-- Indicators -->
        <ol class="carousel-indicators" style="top: 220px; z-index: 100;">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" style="background-color: rgba(0,0,0,0.5);">
            <div class="item active">
                <div class="fill" style="text-align: center;">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <figcaption style="position: absolute; top:220px; left: 0px; right: 0px; z-index: 99; font-size: 42px; background-color: rgba(10,10,10,0.5); color: white;" >WORKING CONCEPT DYING CONCEPT OF THE <strong style="font-size: 56px;"><b>DAY</b></strong></figcaption>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="text-align: center;">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <figcaption style="position: absolute; top:220px; left: 0px; right: 0px; z-index: 99; font-size: 42px; background-color: rgba(10,10,10,0.5); color: white;" >WORKING CONCEPT DYING CONCEPT OF THE <strong style="font-size: 56px;"><b>DAY</b></strong></figcaption>
                </div>
            </div>
            <div class="item">
                <div class="fill" style="text-align: center;">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <img style="height: 300px; width: 300px;" src="http://placehold.it/300x300">
                    <figcaption style="position: absolute; top:220px; left: 0px; right: 0px; z-index: 99;font-size: 42px; background-color: rgba(10,10,10,0.5); color: white;" >WORKING CONCEPT DYING CONCEPT OF THE <strong style="font-size: 56px;"><b>DAY</b></strong></figcaption>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
            <span class="icon-prev"></span>
        </a>
        <a class="right carousel-control" href="#myCarousel" data-slide="next">
            <span class="icon-next"></span>
        </a>
    </header>

{% endblock %}


{% block body %}


    {#<div class="container modal hide fade" id="register-modal" tabindex="-2" role="dialog" aria-labelledby="myModalLabel2" aria-hidden="true" style="background-color: white; color: black; width: 600px; height: 400px; border-radius: 10px; top: 300px;">#}
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#<div>#}
                    {#<div class="modal-header">#}
                        {#<button id="dismiss-register" type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>#}
                        {#<h3 id="myModalLabel2" style="text-align: center;">Sign up</h3>#}
                    {#</div>#}
                    {#<div class="modal-body">#}
                        {#{{ render(controller("FOSUserBundle:Registration:register")) }}#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}


    {#<div class="container modal hide fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="background-color: white; color: black; width: 600px; height: 400px; border-radius: 10px; top: 300px;">#}
        {#<div class="row">#}
            {#<div class="col-lg-12">#}
                {#<div>#}
                    {#<div class="modal-header">#}
                        {#<button id="dismiss-login" type="button" class="close" data-dismiss="modal" aria-hidden="true" >x</button>#}
                        {#<h3 id="myModalLabel" style="text-align: center;">Sign in</h3>#}
                    {#</div>#}
                    {#<div class="modal-body">#}
                        {#{{ render(controller("FOSUserBundle:Security:login")) }}#}
                        {#<a id="sign-up" data-dismiss="modal" aria-hidden="true" href="#register" style="position: absolute; top: 250px; right: 400px;"><p>Sign up !</p></a>#}
                    {#</div>#}
                {#</div>#}
            {#</div>#}
        {#</div>#}
    {#</div>#}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <h1 style="text-align: center;">Recent concepts</h1>
                    <hr/>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">

                {% for concept in concepts %}

                <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                    <ul class="thumbnails">
                        <li class="span4">
                            <a href="concept/{{ concept.id }}">
                                <div class="thumbnail">
                                    {% if concept.wcImg.url in ['jpg', 'jpeg', 'png', 'gif'] %}
                                        <div><img class="vign-img-left" src="{{ asset(concept.wcImg.webPath) }}" alt="{{ concept.wcImg.alt }}"></div>
                                    {% elseif concept.wcImg.url in ['avi', 'mpeg4', 'mp4', 'wmv', 'mov', 'flv'] %}
                                        {#<div><video src="{{ asset(concept.wcImg.webPath) }}" style="width: 130px; height: 130px;" poster="placeholder.png">{{ 'Votre navigateur n\'est pas compatible HTML5 désolé vous ne pouvez pas voir cette video'|trans }}</video></div>#}
                                        <div><img class="vign-img-left" src="http://placehold.it/130x130" alt="{{ concept.wcImg.alt }}"></div>
                                    {% endif %}
                                    {% if concept.dcImg.url in ['jpg', 'jpeg', 'png', 'gif'] %}
                                        <div><img class="vign-img-right" src="{{ asset(concept.dcImg.webPath) }}" alt="{{ concept.dcImg.alt }}"></div>
                                    {% elseif concept.dcImg.url in ['avi', 'mpeg4', 'mp4', 'wmv', 'mov', 'flv'] %}
                                        {#<div><video src="{{ asset(concept.dcImg.webPath) }}" style="width: 130px; height: 130px;" poster="placeholder.png">{{ 'Votre navigateur n\'est pas compatible HTML5 désolé vous ne pouvez pas voir cette video'|trans }}</video></div>#}
                                        <div><img class="vign-img-right" src="http://placehold.it/130x130" alt="{{ concept.wcImg.alt }}"></div>
                                    {% endif %}
                                    <p class="contour-text">{{ concept.datePublished|date('d/m/Y') }} - </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

                {% endfor %}

            </div>
        </div>
    </div>

{% endblock %}

