{# src/MyApp/MonBundle/Resources/views/User/registration.email.twig #}

{% block subject %}Resetting your password{% endblock %}

{% block body_text %}
    {{ 'Hello'|trans }} {{ user.username }} !

    {{ 'Please click on the following link to resetting your password account on workingconceptdyingconcept.com.\n'|trans }} {{ confirmationUrl }}

    For regards,
    Webmaster of WorkingConceptDyingConcept.com
{% endblock %}

{% block body_html %}
    <img src="https://workingconceptdyingconcept.com/img/WORKING_DYING.png">
    <br/>
    <h3>{{ 'Hello'|trans }} {{ user.username }} !</h3>
    <br/>
    <p>{{ 'Please click on the following link to resetting your password account on workingconceptdyingconcept.com.\n'|trans }} <a href="{{ confirmationUrl }}">Reset your password account</a></p>
    <br/>
    <p>Best regards</p>
    <p>Webmaster of WorkingConceptDyingConcept.com</p>
{% endblock %}