<div id="navbar-top-submenu" class="navbar navbar-default navbar-inverse"></div>

<div id="navbar-submenu" class="navbar navbar-default">
    <div id="menu" class="container-fluid">
        <div class="collapse navbar-collapse">
            <ul id="nav" class="nav navbar-nav navbar-center">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">{{ app.user.username }}<b class="caret"></b></a>
                    <ul id="fp" class="dropdown-menu">
                        <li class="item"><a href="{{ path('fos_user_profile_show') }}">View profil</a></li>
                        <li class="item"><a href="{{ path('fos_user_profile_edit') }}">Edit profil</a></li>
                        <li class="item"><a href="#followers">Followers</a></li>
                    </ul>
                </li>
                <li class="item"><a href="#Edit_Delete">Edit / Delete Concepts</a></li>
                <li class="item"><a href="#Submit_Your_Concept">Submit concept</a></li>
                {% if is_granted('ROLE_MODERATEUR') %}
                <li class="item"><a href="#Manage_Concepts">Manage Concepts</a></li>
                <li class="item"><a href="#Manage_Users">Manage users</a></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                <li class="item"><a href="#Manage_Site">Manage site</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</div>

<div id="navbar-bottom-submenu" class="navbar navbar-default navbar-inverse"></div>
