{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}

{% block fos_user_content %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <div class="alert alert-info">
                    <p>{{ 'registration.check_email'|trans({'%email%': user.email}) }}
                    <br/>
                    The email it's possibly in the undesirable.
                    <a href="{{ path('wcdc_core_home') }}">{{ 'Got to home'|trans }}</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock fos_user_content %}