{% trans_default_domain 'FOSUserBundle' %}
<h3>Sign up</h3>
<hr/>

{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register well col-sm-8 col-sm-offset-2'}})}}


<div class="form-group">
    {{ form_errors(form.username) }}
    {#{{ form_label(form.username, 'Username'|trans) }}#}
    {{ form_widget(form.username, {'attr': {'class': 'form-control', 'placeholder': 'Username'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.email) }}
    {#{{ form_label(form.email, 'Mail'|trans) }}#}
    {{ form_widget(form.email, {'attr': {'class': 'form-control', 'placeholder': 'Mail'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.plainPassword.first) }}
    {#{{ form_label(form.plainPassword.first, 'Password'|trans) }}#}
    {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'Password'}}) }}
</div>
<div class="form-group">
    {{ form_errors(form.plainPassword.second) }}
    {#{{ form_label(form.plainPassword.second, 'Password confirmation'|trans) }}#}
    {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control' , 'placeholder': 'Password confirmation'}}) }}
</div>
{{ form_rest(form) }}
<div style="text-align: center;">
    <input type="submit" value="{{ 'Sign up'|trans }}" class="btn btn-primary"/>
</div>
{{ form_end(form) }}