{% extends "WCDCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'The Concept'|trans }} - {{ parent() }}
{% endblock %}


{% block body %}
    <div class="menu-centered contact-title1">The Concept</div>
    <div class="contact-bar"></div>
    <div class="rond"></div>

    <div class="container-fluid">
        <div class="row" style="padding: 50px; border-bottom: solid 10px darkgray; background-color: lightgray; position: relative; top: -50px;">

            {#Donnez votre opinion sur toutes choses qui vous concernent ou qui vous tiennent à cœur.#}
            {#Vous aimez quelques choses, vous détestez quelques choses, faites le savoir.#}
            {#“Working Concept Dying Concept” est la première plateforme permettant à chacun de devenir blogueur professionnel et avoir ses propres suiveurs/ suiveuses.#}
            {#Grace à vous, “Working Concept Dying Concept”  est le site qui donne l’opportunité de faire mieux professionnellement et personnellement.#}
            {#Quand vous critiquez un produit, un endroit, une situation, une personne… Vous avez aussi tôt l’opportunité de présenter ce que vous pensez mieux ou la voie à suivre. Faire évoluer les choses de façon constructive,#}
            {#voilà l’essence de « Working Concept Dying Concept ».#}

            Give your opinion on everything you have a strong opinion about.
            Whether you like or hate something, let it be known !
            "Working Concept Dying Concept" is the first platform allowing anyone to become a professional blogger with his own followers.
            Thanks to you, "Working Concept Dying concept" is the site that gives opportunity to do better professionally and personally.
            When you review a product, a place, a scene, a person... You have the opportunity to present an alternative you think is better.
            Making things evolve through constructive criticism is the essence of "Working Concept Dying Concept".

        </div>
    </div>
{% endblock %}
