{# src/WCDC/ConceptBundle/Resources/views/Concept/submit #}
{% extends 'WCDCConceptBundle::layout.html.twig' %}

{% block title %}
    {{ 'Submit'|trans }} - {{ parent() }}
{% endblock %}

{% block body_title %}
<h3>Submit Your Concept</h3>
<hr/>
<h4>{{ 'Let\'s not compare apples to oranges'|trans }}</h4>
{% endblock body_title %}

{% block body_content %}

    <style>
        .corps {
            width: 80%;
        }
    </style>

    <div class="row well" style="margin-left: 5px; margin-right: 5px;">
        {% if error is defined %}
        <div class="alert alert-{{ key }}">
            <p>{{ message }}</p>
        </div>
        {% endif %}
        {{ form_start(form, {'method': 'post', 'action': path('wcdc_concept_submit')}) }}
            <div class="col-sm-6 working">
                {{ form_errors(form.wcImg) }}
                <div class="form-group text-center">
                    {#{{ form_label(form.wcImg) }}#}
                    <label id="input-file-wc-img" class="btn btn-default btn-file">Upload image/video*
                        {{ form_widget(form.wcImg, {'attr': {'class': '', 'style': 'display: none;'}}) }}
                        <input type="hidden" id="wc_win_width" name="wc_win_width">
                    </label>
                </div>
                <div id="preview" class="text-center hidden">

                    <div>
                        <div class="thumbnail hidden">


                        </div>

                        <input type="button" id="wc-cancel" name="wc-cancel" class="btn btn-danger" value="Cancel">

                        <div id="hide" hidden>
                                <input type="hidden" id="x" name="x" required/>
                                <input type="hidden" id="y" name="y" />
                                <input type="hidden" id="w" name="w" />
                                <input type="hidden" id="h" name="h" />
                                <input type="hidden" id="working" name="working">
                                <input type="hidden" id="wc_image" name="wc_image" value="">
                                <input type="hidden" id="wc_img_crop" name="wc_img_crop" required="required">
                                <input id="wc_crop_btn" type="button" value="Crop Image" class="btn btn-primary" style="margin: 20px auto 20px auto;" required/>
                            <br/>
                            <br/>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    {{ form_errors(form.wcContent) }}
                    {#{{ form_label(form.wcContent) }}#}
                    {{ form_widget(form.wcContent, {'attr': {'class': 'form-control', 'placeholder': 'Working Content*'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.wcName) }}
                    {#{{ form_label(form.wcName) }}#}
                    {{ form_widget(form.wcName, {'attr': {'class': 'form-control', 'placeholder': 'Working Name*'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.wcAddress) }}
                    {#{{ form_label(form.wcAddress) }}#}
                    {{ form_widget(form.wcAddress, {'attr': {'class': 'form-control', 'placeholder': 'Working Address'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.wcCity) }}
                    {#{{ form_label(form.wcCity) }}#}
                    {{ form_widget(form.wcCity, {'attr': {'class': 'form-control', 'placeholder': 'Working City*'}}) }}
                </div>
            </div>

            <div class="col-sm-6 Dying">
                {{ form_errors(form.dcImg) }}
                <div class="form-group text-center">
                    {#{{ form_label(form.dcImg) }}#}
                    <label id="input-file-dc-img" class="btn btn-default btn-file" disabled="true">Upload image/video*
                        {{ form_widget(form.dcImg, {'attr': {'class': '', 'style': 'display: none;'}}) }}
                        <input type="hidden" id="dc_win_width" name="dc_win_width">
                    </label>
                </div>

               <div id="preview2" class="text-center hidden">

                    <div>
                        <div class="thumbnail hidden">


                        </div>

                        <input type="button" id="dc-cancel" name="dc-cancel" class="btn btn-danger" value="Cancel">

                        <div id="hide2" hidden>
                                <input type="hidden" id="x1" name="x1" required/>
                                <input type="hidden" id="y1" name="y1" />
                                <input type="hidden" id="w1" name="w1" />
                                <input type="hidden" id="h1" name="h1" />
                                <input type="hidden" id="dying" name="dying">
                                <input type="hidden" id="dc_image" name="dc_image" value="">
                                <input type="hidden" id="dc_img_crop" name="dc_img_crop" required="required">
                                <input id="dc_crop_btn" type="button" value="Crop Image" class="btn btn-primary" style="margin: 20px auto 20px auto;" required/>
                            <br/>
                            <br/>
                        </div>

                    </div>
                </div>

                <div class="form-group">
                    {{ form_errors(form.dcContent) }}
                    {#{{ form_label(form.dcContent) }}#}
                    {{ form_widget(form.dcContent, {'attr': {'class': 'form-control', 'placeholder': 'Dying Content*'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.dcName) }}
                    {#{{ form_label(form.dcName) }}#}
                    {{ form_widget(form.dcName, {'attr': {'class': 'form-control', 'placeholder': 'Dying Name*'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.dcAddress) }}
                    {#{{ form_label(form.dcAddress) }}#}
                    {{ form_widget(form.dcAddress, {'attr': {'class': 'form-control', 'placeholder': 'Dying Address'}}) }}
                </div>
                <div class="form-group">
                    {{ form_errors(form.dcCity) }}
                    {#{{ form_label(form.dcCity) }}#}
                    {{ form_widget(form.dcCity, {'attr': {'class': 'form-control', 'placeholder': 'Dying City*'}}) }}
                </div>
            </div>
            <div class="col-sm-6 col-sm-offset-3">
                {{ form_errors(form.categories) }}
                {{ form_widget(form.categories, {'attr': {'class': 'form-control', 'placeholder': 'Categories*'}}) }}
                <span class="help-block">Hold 'CTRL' OR 'CMD' for selecting many categories (max 3)</span>
            </div>
            <div class="col-sm-2 col-sm-offset-5">
                <div class="g-recaptcha" data-sitekey="6Lfw5yETAAAAAOhDLewAGvUhNNDVlnMyBqH_pNW1"></div>
            </div>
            <div class="col-sm-4 col-sm-offset-4 text-center">
                {{ form_widget(form.Submit, {'attr': {'class': 'btn btn-primary', 'style': 'margin-top:10px;'}}) }}
            </div>
        <br/>
        <br/>
        {{ form_rest(form) }}
        {{ form_end(form) }}
    </div>
    <br/>
    <br/>

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    <script type="text/javascript">

        $('#concept_wcImg_file').change(function(){

            var $form = $('.well').find('form');
            $('#working').val('1');
            $form.find('#wc_win_width').val(window.innerWidth);
            var url = '{{ path('wcdc_concept_upload') }}';
            var formdata = (window.FormData) ? new FormData($form[0]) : null;
            var data = (formdata !== null) ? formdata : $form.serialize();


            $.ajax(url, {
                type: 'POST',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    $('#working').val('0');
                    $('#input-file-dc-img').attr('disabled', true);
                    $('#preview').removeClass('hidden');
                    $('#preview').find('.thumbnail').removeClass('hidden');
                    $('#preview').find('.thumbnail').html(data);
                    var img = $('#thumbnail').attr('src');
                    $('#wc_image').val(img);
                    if (img) {
                        $('#hide').show();
                        $('#concept_wcImg_file').val(img);
                    }
                    else {
                        $('#hide').hide();
                        $('#input-file-dc-img').removeAttr('disabled');
                    }

                },
                statusCode: {
                    404: function () {
                        $('.err').text("Error : unable to download file");
                    },
                    405 : function () {
                        $('.err').text("Error : File is too large (Size may not exceed 3 MB)");
                    },
                    406 : function () {
                        $('.err').text("Error : Wrong file format (Please use .png, .jpg, .jpeg or .gif)");
                    },
                    407 : function () {
                        $('.err').text("Some problemes has happened");
                    }
                },
                error: function () {

                    $('html,body').animate({scrollTop: 0}, 'slow');
                    $('.alert').textContent = "An error occured, please try again. Sorry for desagrement."
                    $('.alert').show().slideDown(1000);
                    $('#working').val('0');
                }
            });
        });

    </script>

    <script type="text/javascript">

        $('#concept_dcImg_file').change(function(){

            var $form = $('.well').find('form');
            $('#dying').val('1');
            $form.find('#dc_win_width').val(window.innerWidth);
            var url = '{{ path('wcdc_concept_upload') }}';
            var formdata = (window.FormData) ? new FormData($form[0]) : null;
            var data = (formdata !== null) ? formdata : $form.serialize();


            $.ajax(url, {
                type: 'POST',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    $('#dying').val('0');
                    $('#input-file-wc-img').attr('disabled', true);
                    $('#preview2').removeClass('hidden');
                    $('#preview2').find('.thumbnail').removeClass('hidden');
                    $('#preview2').find('.thumbnail').html(data);
                    var img = $('#thumbnail2').attr('src');
                    $('#dc_image').val(img);
                    if (img) {
                        $('#hide2').show();
                        $('#concept_dcImg_file').val(img);
                    }
                    else {
                        $('#hide2').hide();
                        $('#input-file-wc-img').removeAttr('disabled');
                    }
                },
                statusCode: {
                    404: function () {
                        $('.err').text("Error : unable to download file");
                    },
                    405 : function () {
                        $('.err').text("Error : File is too large (Size may not exceed 3 MB)");
                    },
                    406 : function () {
                        $('.err').text("Error : Wrong file format (Please use .png, .jpg, .jpeg or .gif)");
                    },
                    407 : function () {
                        $('.err').text("Some problemes has happened");
                    }
                },
                error: function () {

                    $('html,body').animate({scrollTop: 0}, 'slow');
                    $('.alert').textContent = "An error occured, please try again. Sorry for desagrement."
                    $('.alert').show().slideDown(1000);
                    $('#dying').val('0');
                }
            });
        });

    </script>

    <script type="text/javascript">
        $('#wc_crop_btn').click(function () {

            var $form = $('.well').find('form');
//            $form.find('#wc_win_width').val(window.innerWidth);
            $('#working').val('1');
            var url = '{{ path('wcdc_concept_crop') }}';
            var formdata = (window.FormData) ? new FormData($form[0]) : null;
            var data = (formdata !== null) ? formdata : $form.serialize();

            $.ajax(url, {
                type: 'POST',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    $('#working').val('0');
                    $('#input-file-dc-img').removeAttr('disabled');
                    $('#concept_wcImg_file').removeAttr('required');
                    $('#preview').find('.thumbnail').html('');
                    $('#preview').find('.thumbnail').html(data);
                    $('#hide').hide();
                    $('#wc_img_crop').val($('#wc_crop').attr('src'));

                },
                statusCode: {
                    404: function () {
                        $('.err').text("Error : unable to crop file");
                    }
                },
                error: function () {

                    $('html,body').animate({scrollTop: 0}, 'slow');
                    $('.alert').textContent = "An error occured, please try again. Sorry for desagrement."
                    $('.alert').show().slideDown(1000);
                    $('#working').val('0');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $('#dc_crop_btn').click(function () {

            var $form = $('.well').find('form');
//            $form.find('#wc_win_width').val(window.innerWidth);
            $('#dying').val('1');
            var url = '{{ path('wcdc_concept_crop') }}';
            var formdata = (window.FormData) ? new FormData($form[0]) : null;
            var data = (formdata !== null) ? formdata : $form.serialize();

            $.ajax(url, {
                type: 'POST',
                contentType: false,
                processData: false,
                data: data,
                success: function (data) {

                    $('#dying').val('0');
                    $('#input-file-wc-img').removeAttr('disabled');
                    $('#concept_dcImg_file').removeAttr('required');
                    $('#preview2').find('.thumbnail').html('');
                    $('#preview2').find('.thumbnail').html(data);
                    $('#hide2').hide();
                    $('#dc_img_crop').val($('#dc_crop').attr('src'));
                    $('#dc-cancel').show();
                },
                statusCode: {
                    404: function () {
                        $('.err').text("Error : unable to crop file");
                    }
                },
                error: function () {

                    $('html,body').animate({scrollTop: 0}, 'slow');
                    $('.alert').textContent = "An error occured, please try again. Sorry for desagrement."
                    $('.alert').show().slideDown(1000);
                    $('#dying').val('0');
                }
            });
        });
    </script>

    <script type="text/javascript">

        $('#wc-cancel').click(function () {
            $('#concept_wcImg_file').val('');
            $('#preview').find('.thumbnail').html('');
            $('#hide').hide();
            $('#preview').addClass('hidden');
        });

        $('#dc-cancel').click(function () {
            $('#concept_dcImg_file').val('');
            $('#preview2').find('.thumbnail').html('');
            $('#hide2').hide();
            $('#preview2').addClass('hidden');
        });

    </script>

    {#<script type="text/javascript">#}

        {#$('#concept_Submit').click(function (e) {#}
            {#e.preventDefault();#}
            {#alert($('#recaptcha-anchor').attr('aria-checked'));#}
            {#if ($('#wc_img_cropg').val() != '' && $('#dc_img_cropg').val() != '' && $('#recaptcha-anchor').attr('aria-checked') != true)#}
            {#{#}
                {#alert('toto');#}
            {#}#}
            {#else {#}
                {#$('#concept_Submit').form.submit();#}
            {#}#}
        {#})#}

    {#</script>#}

{% endblock body_content %}

