{# src/WCDC/ConceptBundle/Resources/views/Concept #}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">

            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
                <ul class="thumbnails">
                    <li class="span4">
                        <a href="#concept/id">
                            <div class="thumbnail">
                                <img class="vign-img-left" src="http://placehold.it/130x130" alt="">
                                <img class="vign-img-right" src="http://placehold.it/130x130" alt="">
                                <p class="contour-text">Date - Category</p>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</div>