html , body {
    background-color: #c9ddfb;
    text-decoration: none;
}

h3 , h4{
    text-align: center;
    padding-top: 10px;
}

hr {
    width: 80%;
}

.fixMenu {
    position: fixed;
    top: 0px;
}

#nav > li > a {
    padding-top: 25px;
    color: black;
    border: 0px;
    padding-bottom: 25px;
}

#nav > li:hover {
    background-color: rgba(0,0,0,0.7);
}

#nav > li:hover > a {
    color: white;
}

#topmenu {
    width:100%;
    z-index: 99;
}

#navbar-top {
    padding: 0px;
    margin: 0px;
    background: black;
    border-radius: 0px;
    height: 30px;
    min-height: 20px;
}

.navbar {
    border: 0px;
}

.login-register-link {
    position: relative;
    top: -10px;
}

#logo {
    width: 300px;
    position: absolute;
    top: 10px;
    left: 10px;
}

#menu {
    height: 70px;
    margin-left: auto;
    margin-right: auto;
}

.dropdown:hover > form > .dropdown-menu {
    display: block;
}

.corps {
    moz-box-shadow: 20px 20px 100px 0px #000000;
    -webkit-box-shadow: 20px 20px 100px 0px #000000;
    -o-box-shadow: 20px 20px 100px 0px #000000;
    box-shadow: 20px 20px 100px 0px #000000;
    filter:progid:DXImageTransform.Microsoft.Shadow(color=#000000, Direction=134, Strength=100);

    width: 950px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    position: relative;
    top: 0px;
    margin-bottom: 100px;
}

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    vertical-align: top;
}

.navbar .navbar-collapse {
    text-align: center;
}

#select {
    background-color: rgba(0,0,0,0.7);
    margin: 0px;
    border: 0px;
    overflow: auto;
    max-height: 400px;
    width: 300px;
}

#select > div > div > div > li > label {
    color: white;
    text-decoration: none;
}

input[type="checkbox"]:checked + label::before {
    content: '';
    position: relative;
    background: rgba(0, 0, 0, 0);
    top: 0px;
    left: -5px;
    border: 3px solid limegreen;
    border-top: none;
    border-right: none;
    transform: rotate(90deg);
    padding: 0px;
    margin: 0px;
}

input[type="checkbox"] {
    position: absolute;
    left: -999em;
}

#city {
    border-left: 2px solid white;
}

#category, #city {
    padding-top: 2px;
    padding-bottom: 2px;
    margin-top: 0px;
    margin-bottom: 0px;
}

#button input[type=submit] {
    width: 80%;
    height: 30px;
    border-radius: 5px;
    background-color: black;
    color: white;
    font-weight: 400;
    border: 2px solid white;
    position: relative;
    top: -5px;
    text-align: center;
}

#button {
    padding-left: 40px;
}

footer{
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: white;
    z-index: 999;
}

.foot-bar {
    position: relative;
    right: 0px;
    height: 35px;
    width: 100%;
    background-color: black;
}

.icon {
    height: 25px;
    width: 25px;
    z-index: inherit;
}

.icon1 {
    position: absolute;
    right: 10px;
}

.icon2 {
    position: absolute;
    right: 35px;
}

.icon3 {
    position: absolute;
    right: 60px;
}

.icon4 {
    position: absolute;
    right: 85px;
}

.icon5 {
    position: absolute;
    right: 110px;
}

#copyright_text {
    font-size: 16px;
    text-align: center;
    color: black;
}

.contact-bar {
    margin-top: 50px;
    background-color: darkgray;
    width: 100%;
    height: 20px;
}

.contact-title1 {
    font-size: 70px;
    text-align: center;
}

.contact-title2 {
    font-size: 35px;
    text-align: center;
}

.rond {
    position: relative;
    z-index: 98;
    margin-left: auto;
    margin-right: auto;
    margin-top: -60px;
    width:100px;
    height:100px;
    background: darkgray;
    border-radius:100px;
}

.control-group {
    margin-left: auto;
    margin-right: auto;
}

.champs_requis {
    font-size: 12px;
    font-weight: 200;
    float: left;
    margin-left: 0.5em;
    color: red;
}

#message {
    max-width: 650px;
    width: 650px;
    margin-left: -15px;
}

.g-recaptcha {
    position: relative;
    left: -38px;
}

.modal label {
    text-align: center;
}

.thumbnail > p {
    margin-bottom: -20px;
    color: white;
    text-align: center;
}

.contour-text {
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    width: 100%;
    overflow: hidden;
    position: relative;
    top: -20px;
    z-index: 98;
    min-height: 20px;
}

a:hover, p:hover, .contour-text:hover {
    text-decoration: none;
}

.vign-img-right , .vign-img-left {
    width: 130px;
    height: 130px;
}

.vign-img-left {
    float: left;
}

.vign-img-right {
    float: right;
}

.thumbnails {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.thumbnails .span4::before {
    height: 130px;
    max-height: 130px;
}

@media (max-width: 950px) {
    .corps {
        width: 100%;
    }
}

#navbar-top-submenu {
    height: 20px;
    min-height: 20px;
    border-radius: 0px;
    margin-bottom: 0px;
}

#navbar-submenu {
    margin-top: 0px;
    margin-bottom: 0px;
    background-color: white;
}


#navbar-bottom-submenu {
    padding: 8px 15px 0px 0px;
    margin: 0px;
    background: black;
    border-radius: 0px;
    height: 20px;
    min-height: 20px;
}

#fp {
    background-color: rgba(0,0,0,0.7);
    margin-top: -1px;
}
#fp > li > a {
    color: white;
}

#fp > li > a:hover, #fp > li > a:focus {
    background-color: black;
}

.dropdown:hover > .dropdown-menu {
    display: block;
}

.contact-bar {
    margin-top: 50px;
    background-color: darkgray;
    width: 100%;
    height: 20px;
}

.progress-success > .bar {
    height: 20px;
    background-color: #5cb55c;
}

.form-horizontal .control-label {
    text-align: left;
}

#select #btn-select {
    z-index: 100;
}

.working {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    right: 5px;
}

.dying {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    right: -5px;
}

#preview, #preview2 {
    margin-bottom: 10px;
}

#thumbnail {
    width: auto;
    height: auto;
}


/* jquery.Jcrop.min.css v0.9.12 (build:20130126) */
.jcrop-holder{direction:ltr;text-align:left;}
.jcrop-vline,.jcrop-hline{background:#FFF url(../../../Downloads/crop-photo-using-php-and-jquery/css/Jcrop.gif);font-size:0;position:absolute;}
.jcrop-vline{height:100%;width:1px!important;}
.jcrop-vline.right{right:0;}
.jcrop-hline{height:1px!important;width:100%;}
.jcrop-hline.bottom{bottom:0;}
.jcrop-tracker{-webkit-tap-highlight-color:transparent;-webkit-touch-callout:none;-webkit-user-select:none;height:100%;width:100%;}
.jcrop-handle{background-color:#333;border:1px #EEE solid;font-size:1px;height:7px;width:7px;}
.jcrop-handle.ord-n{left:50%;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-s{bottom:0;left:50%;margin-bottom:-4px;margin-left:-4px;}
.jcrop-handle.ord-e{margin-right:-4px;margin-top:-4px;right:0;top:50%;}
.jcrop-handle.ord-w{left:0;margin-left:-4px;margin-top:-4px;top:50%;}
.jcrop-handle.ord-nw{left:0;margin-left:-4px;margin-top:-4px;top:0;}
.jcrop-handle.ord-ne{margin-right:-4px;margin-top:-4px;right:0;top:0;}
.jcrop-handle.ord-se{bottom:0;margin-bottom:-4px;margin-right:-4px;right:0;}
.jcrop-handle.ord-sw{bottom:0;left:0;margin-bottom:-4px;margin-left:-4px;}
.jcrop-dragbar.ord-n,.jcrop-dragbar.ord-s{height:7px;width:100%;}
.jcrop-dragbar.ord-e,.jcrop-dragbar.ord-w{height:100%;width:7px;}
.jcrop-dragbar.ord-n{margin-top:-4px;}
.jcrop-dragbar.ord-s{bottom:0;margin-bottom:-4px;}
.jcrop-dragbar.ord-e{margin-right:-4px;right:0;}
.jcrop-dragbar.ord-w{margin-left:-4px;}
.jcrop-light .jcrop-vline,.jcrop-light .jcrop-hline{background:#FFF;filter:alpha(opacity=70)!important;opacity:.70!important;}
.jcrop-light .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#000;border-color:#FFF;border-radius:3px;}
.jcrop-dark .jcrop-vline,.jcrop-dark .jcrop-hline{background:#000;filter:alpha(opacity=70)!important;opacity:.7!important;}
.jcrop-dark .jcrop-handle{-moz-border-radius:3px;-webkit-border-radius:3px;background-color:#FFF;border-color:#000;border-radius:3px;}
.solid-line .jcrop-vline,.solid-line .jcrop-hline{background:#FFF;}
.jcrop-holder img,img.jcrop-preview{max-width:none;}

/*!
 * Cropper v2.3.3
 * https://github.com/fengyuanchen/cropper
 *
 * Copyright (c) 2014-2016 Fengyuan Chen and contributors
 * Released under the MIT license
 *
 * Date: 2016-08-10T08:58:55.176Z
 */
.cropper-container {
    font-size: 0;
    line-height: 0;

    position: relative;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    direction: ltr !important;
}

.cropper-container img {
    display: block;

    width: 100%;
    min-width: 0 !important;
    max-width: none !important;
    height: 100%;
    min-height: 0 !important;
    max-height: none !important;

    image-orientation: 0deg !important;
}

.cropper-wrap-box,
.cropper-canvas,
.cropper-drag-box,
.cropper-crop-box,
.cropper-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.cropper-wrap-box {
    overflow: hidden;
}

.cropper-drag-box {
    opacity: 0;
    background-color: #fff;

    filter: alpha(opacity=0);
}

.cropper-modal {
    opacity: .5;
    background-color: #000;

    filter: alpha(opacity=50);
}

.cropper-view-box {
    display: block;
    overflow: hidden;

    width: 100%;
    height: 100%;

    outline: 1px solid #39f;
    outline-color: rgba(51, 153, 255, .75);
}

.cropper-dashed {
    position: absolute;

    display: block;

    opacity: .5;
    border: 0 dashed #eee;

    filter: alpha(opacity=50);
}

.cropper-dashed.dashed-h {
    top: 33.33333%;
    left: 0;

    width: 100%;
    height: 33.33333%;

    border-top-width: 1px;
    border-bottom-width: 1px;
}

.cropper-dashed.dashed-v {
    top: 0;
    left: 33.33333%;

    width: 33.33333%;
    height: 100%;

    border-right-width: 1px;
    border-left-width: 1px;
}

.cropper-center {
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;

    width: 0;
    height: 0;

    opacity: .75;

    filter: alpha(opacity=75);
}

.cropper-center:before,
.cropper-center:after {
    position: absolute;

    display: block;

    content: ' ';

    background-color: #eee;
}

.cropper-center:before {
    top: 0;
    left: -3px;

    width: 7px;
    height: 1px;
}

.cropper-center:after {
    top: -3px;
    left: 0;

    width: 1px;
    height: 7px;
}

.cropper-face,
.cropper-line,
.cropper-point {
    position: absolute;

    display: block;

    width: 100%;
    height: 100%;

    opacity: .1;

    filter: alpha(opacity=10);
}

.cropper-face {
    top: 0;
    left: 0;

    background-color: #fff;
}

.cropper-line {
    background-color: #39f;
}

.cropper-line.line-e {
    top: 0;
    right: -3px;

    width: 5px;

    cursor: e-resize;
}

.cropper-line.line-n {
    top: -3px;
    left: 0;

    height: 5px;

    cursor: n-resize;
}

.cropper-line.line-w {
    top: 0;
    left: -3px;

    width: 5px;

    cursor: w-resize;
}

.cropper-line.line-s {
    bottom: -3px;
    left: 0;

    height: 5px;

    cursor: s-resize;
}

.cropper-point {
    width: 5px;
    height: 5px;

    opacity: .75;
    background-color: #39f;

    filter: alpha(opacity=75);
}

.cropper-point.point-e {
    top: 50%;
    right: -3px;

    margin-top: -3px;

    cursor: e-resize;
}

.cropper-point.point-n {
    top: -3px;
    left: 50%;

    margin-left: -3px;

    cursor: n-resize;
}

.cropper-point.point-w {
    top: 50%;
    left: -3px;

    margin-top: -3px;

    cursor: w-resize;
}

.cropper-point.point-s {
    bottom: -3px;
    left: 50%;

    margin-left: -3px;

    cursor: s-resize;
}

.cropper-point.point-ne {
    top: -3px;
    right: -3px;

    cursor: ne-resize;
}

.cropper-point.point-nw {
    top: -3px;
    left: -3px;

    cursor: nw-resize;
}

.cropper-point.point-sw {
    bottom: -3px;
    left: -3px;

    cursor: sw-resize;
}

.cropper-point.point-se {
    right: -3px;
    bottom: -3px;

    width: 20px;
    height: 20px;

    cursor: se-resize;

    opacity: 1;

    filter: alpha(opacity=100);
}

.cropper-point.point-se:before {
    position: absolute;
    right: -50%;
    bottom: -50%;

    display: block;

    width: 200%;
    height: 200%;

    content: ' ';

    opacity: 0;
    background-color: #39f;

    filter: alpha(opacity=0);
}

@media (min-width: 768px) {
    .cropper-point.point-se {
        width: 15px;
        height: 15px;
    }
}

@media (min-width: 992px) {
    .cropper-point.point-se {
        width: 10px;
        height: 10px;
    }
}

@media (min-width: 1200px) {
    .cropper-point.point-se {
        width: 5px;
        height: 5px;

        opacity: .75;

        filter: alpha(opacity=75);
    }
}

.cropper-invisible {
    opacity: 0;

    filter: alpha(opacity=0);
}

.cropper-bg {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC');
}

.cropper-hide {
    position: absolute;

    display: block;

    width: 0;
    height: 0;
}

.cropper-hidden {
    display: none !important;
}

.cropper-move {
    cursor: move;
}

.cropper-crop {
    cursor: crosshair;
}

.cropper-disabled .cropper-drag-box,
.cropper-disabled .cropper-face,
.cropper-disabled .cropper-line,
.cropper-disabled .cropper-point {
    cursor: not-allowed;
}

img {
    max-width: 100%; /* This rule is very important, please do not ignore this! */
}

/*
** cropper end css
*\