<!DOCTYPE HTML>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <title>{% block title %}WCDC {% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    {% endblock %}

    {% stylesheets filter='cssrewrite, ?scssphp'
    'bundles/wcdccore/css/main.css' %}
    <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

</head>
<html>
    <body>

    {% block slide_top %}
    {% endblock %}

    {% block menu %}
        <!-- Wrap all page content here -->
        <div id="wrap" style="margin-bottom: 20px;">
            <div id="topmenu" class="">
                <div id="navbar-top" class="navbar navbar-default navbar-inverse">
                    <ul class="nav navbar-nav" style="float: right">
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <li>
                                <a href="{{ path('fos_user_profile_show') }}" class="login-register-link" style="color: white;">{{ 'My account '|trans }} &nbsp; {{ ' ( ' ~ app.user.username ~ ' )' }}</a>
                            </li>
                            <li>
                                <a href="{{ path('fos_user_security_logout') }}" class="login-register-link" style="color: white;">{{ 'Sign out'|trans }}</a>
                            </li>
                        {% else %}
                            <li>
                                <a id="login-link" href="{{ path('fos_user_security_login') }}" data-toggle="modal" class="login-register-link" style="color: white;">Sign in</a>
                            </li>
                            <li>
                                <a id="register-link" href="{{ path('fos_user_registration_register') }}" class="login-register-link" style="color: white;">Sign up</a>
                            </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- Fixed navbar -->
                <div class="navbar navbar-default" style="background: white;border-radius: 0px; padding-top: 0px; padding-bottom: 0px; margin-bottom: 0px;">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="{{ path('wcdc_core_home') }}"><img id="logo" src="/WCDC/web/bundles/wcdccore/img/WORKING_DYING.png" class=""></a>
                    </div>
                    <div id="menu" class="container">
                        <div class="collapse navbar-collapse">
                            <ul id="nav" class="nav navbar-nav navbar-center">
                                <li class="dropdown"> <a href="#" class="dropdown-toggle" data-toggle="dropdown">Category | City<b class="caret"></b></a>
                                    <form method="post" action="#select">
                                        <ul id="select" class="dropdown-menu">
                                            <div class="container-fluid">
                                                <div id="button">
                                                    <input id="btn-select" type="submit" value="Submit">
                                                </div>
                                                {{ render(controller('WCDCCoreBundle:Core:menu')) }}
                                            </div>
                                        </ul>
                                    </form>
                                </li>
                                <li class="">
                                    <a href="{{ path('wcdc_core_the_concept') }}" class="">The Concept</a>
                                </li>
                                <li>
                                    <a href="{{ path('wcdc_concept_submit') }}" class="">Submit Your Concept</a>
                                </li>
                                <li>
                                    <a href="{{ path('wcdc_core_contact') }}" class="">Contact</a>
                                </li>
                            </ul>
                        </div>
                        <!--/.nav-collapse -->
                    </div>
                </div>
                <div class="navbar navbar-default navbar-inverse" style="padding: 8px 15px 0px 0px; margin: 0px; background: black; border-radius: 0px; height: 30px; min-height: 20px;">
                    <form class="form-inline pull-right">
                        <input type="search" class="form-control input-sm" placeholder="Search" style="position: absolute; top: 0px; right: 80px; border-radius: 5px; width: 150px;">
                        <button type="submit" class="btn btn-default btn-sm" style="position: absolute; top: 0px; right: 20px; border-radius:5px;">Search</button>
                    </form>
                </div>
            </div>
        </div>
    {% endblock %}

    <div class="corps">

        {% for key, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="alert alert-{{ key }}" style="text-align: center; max-width: 600px; margin-left: auto; margin-right: auto; margin-top: 10px;">
                    {{ message|trans({}, 'FOSUserBundle') }}
                </div>
            {% endfor %}
        {% endfor %}

        {% block body %}


        {% endblock %}

     </div>

    {% block footer %}

        <div class="clear" style="clear:both"></div>
        <footer>
            <div class="foot-bar" style="height: 10px;"></div>
            <div class="icon1"><a href="#" target="_blank"><img class="icon" src="/WCDC/web/bundles/wcdccore/img/linkedin-logo.png"/></a></div>
            <div class="icon2"><a href="#" target="_blank"><img class="icon" src="/WCDC/web/bundles/wcdccore/img/insta.png"/></a></div>
            <div class="icon3"><a href="#" target="_blank"><img class="icon" src="/WCDC/web/bundles/wcdccore/img/pint.png"/></a></div>
            <div class="icon4"><a href="https://twitter.com/WCDC4YOU" target="_blank"><img class="icon" src="/WCDC/web/bundles/wcdccore/img/tw.png"/></a></div>
            <div class="icon5"><a href="https://www.facebook.com/workingconceptdyingconcept/?fref=ts" target="_blank"><img class="icon" src="/WCDC/web/bundles/wcdccore/img/fb.png"/></a></div>
            <!--    <p id="copyright_text">&copy workingconceptdyingconcept.com by aaverty & qmoinat</p>-->
            <p id="copyright_text">&copy 2016 workingconceptdyingconcept all rights reserved Aldo Belkouar</p>
        </footer>

    {% endblock %}


    {% block javascripts %}
        {# Ajoutez ces lignes JavaScript si vous comptez vous servir des fonctionnalités du bootstrap Twitter #}
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
        <script src='https://www.google.com/recaptcha/api.js'></script>
        <script type="text/javascript" src="/WCDC/web/bundles/wcdcconcept/js/cropper.js"></script>
    {% endblock %}

    <script type="text/javascript">

        $(function(){
            $(window).scroll(
                    function ()
                    {
                        if ($(this).scrollTop() > $('#myCarousel').height())
                        {
                            $('#topmenu').addClass('fixMenu');
                            $('.corps').css('top', '130px');
                        }
                        else
                        {
                            $('#topmenu').removeClass('fixMenu');
                            $('.corps').css('top', '0px');
                        }
                    }
            );
        });

        $('#select').scroll(function () {
            if ($(this).scrollTop() != 0)
            {
                var top = $(this).scrollTop();
                $('#btn-select').css("position", "relative");
                $('#btn-select').css("top", top - 5);
            }
            else
            {
                $('#btn-select').removeClass("fixButtonSelect");
            }
        });

    </script>

    <script type="text/javascript">

        $(function () {

            $('#thumbnail').cropper({
                aspectRatio: 1,
                crop: function(e){
                    console.log(e.x);
                    console.log(e.y);
                    console.log(e.width);
                    console.log(e.height);
                    console.log(e.rotate);
                    console.log(e.scaleX);
                    console.log(e.scaleY);
                }
            });

        });

        $(function () {

            $('#thumbnail2').cropper({
                aspectRatio: 1,
                crop: function(e){
                    console.log(e.x);
                    console.log(e.y);
                    console.log(e.width);
                    console.log(e.height);
                    console.log(e.rotate);
                    console.log(e.scaleX);
                    console.log(e.scaleY);
                }
            });

        });

//        function updateCoords(c) {
//            $('#x') . val(c . x);
//            $('#y') . val(c . y);
//            $('#w') . val(c . w);
//            $('#h') . val(c . h);
//        }
//
//        function checkCoords()
//        {
//            if (parseInt($('#w') . val())) return true;
//            alert('Please select a crop region then press submit.');
//            return false;
//        }


    </script>

    {#<script src="/WCDC/web/bundles/wcdccore/js/bootstrap-modal.js"></script>#}

    {#<script type="text/javascript">#}

        {#$('#login-modal').modal();#}

        {#$('#login-link').on('click', function () {#}
            {#$('#login-modal').removeClass('hide');#}
            {#$('#login-modal').addClass('show');#}
        {#});#}

        {#$('#dismiss-login').on('click', function () {#}
            {#$('#login-modal').removeClass('show');#}
            {#$('.modal-backdrop').remove();#}
        {#});#}

    {#</script>#}

    {#<script type="text/javascript">#}

        {#$('#register-modal').modal();#}

        {#$('#register-link').on('click', function () {#}
            {#$('<div class="modal-backdrop fade in" />').appendTo(document.body);#}
            {#$('#register-modal').removeClass('hide');#}
            {#$('#register-modal').removeClass('fade');#}
            {#$('#register-modal').addClass('show');#}
        {#});#}

        {#$('#dismiss-register').on('click', function () {#}
            {#$('#register-modal').removeClass('show');#}
            {#$('.modal-backdrop').remove();#}
        {#});#}

        {#$('#sign-up').on('click', function () {#}
            {#$('<div class="modal-backdrop fade in" />').appendTo(document.body);#}
            {#$('#register-modal').modal('show');#}
            {#$('#register-modal').addClass('show');#}
        {#});#}

    {#</script>#}

    </body>

</html>