{% extends "FOSUserBundle::layout.html.twig" %}

{% trans_default_domain 'FOSUserBundle' %}


{% block fos_user_content %}

    {% if error %}
        <div class="alert alert-danger" style="text-align: center; max-width: 600px;margin-left: auto;margin-right: auto; margin-top: 10px;">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    <h3>Sign in</h3>
    <hr/>
    <div class="well col-xs-8 col-sm-8 col-md-8 col-lg-8 col-lg-offset-2 col-md-offset-2 col-sm-offset-2 col-xs-offset-2" style="text-align: center;">
        <form action="{{ path("fos_user_security_check") }}" method="post">
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            <div class="form-group">
                <label for="username">{{ 'security.login.username'|trans }}</label>
                <input class="form-control" type="text" id="username" name="_username" placeholder="{{ 'security.login.username'|trans }}" value="{{ last_username }}" required="required" />
            </div>

            <div class="form-group">
                <label for="password">{{ 'security.login.password'|trans }}</label>
                <input class="form-control" type="password" id="password" name="_password" placeholder="{{ 'security.login.password'|trans }}" required="required" />
            </div>

            {#<label for="remember_me">{{ 'security.login.remember_me'|trans }}</label>#}
            {#<input type="checkbox" id="remember_me" name="_remember_me" value="on" />#}

            {#<br/>#}
            {#<br/>#}

            <input class="btn btn-primary" type="submit" id="_submit" name="_submit" value="{{ 'security.login.submit'|trans }}" />
            <br/>
            <br/>
            <br/>
            <a href="{{ path('fos_user_resetting_request') }}">Forgot password ?</a>
        </form>
    </div>

{% endblock fos_user_content %}