{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3" style="text-align: center;">
            <h3>Request resetting password</h3>
            <hr/>
            <form action="{{ path('fos_user_resetting_send_email') }}" method="POST" class="well form-horizontal">
                <div>
                    {% if invalid_username is defined %}
                        <p>{{ 'resetting.request.invalid_username'|trans({'%username%': invalid_username}) }}</p>
                    {% endif %}
                </div>
                <div class="form-group">
                    <label for="username" class="control-label">{{ 'resetting.request.username'|trans }}</label>
                    <input type="text" id="username" class="form-control" name="username" placeholder="Username or email" required="required" />
                </div>
                <div>
                    <input type="submit" class="btn btn-primary" value="{{ 'resetting.request.submit'|trans }}" />
                </div>
            </form>
        </div>
    </div>
</div>

