{% trans_default_domain 'FOSUserBundle' %}

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3 text-center">
            <h3>Reset your password account</h3>
            <hr/>
            {{ form_start(form, { 'action': path('fos_user_resetting_reset', {'token': token}), 'attr': { 'class': 'well' } }) }}
            <div class="form-group">
                {{ form_errors(form.plainPassword.first) }}
                {{ form_label(form.plainPassword.first, 'New password'|trans) }}
                {{ form_widget(form.plainPassword.first, {'attr': {'class': 'form-control', 'placeholder': 'New password'}}) }}
            </div>
            <div class="form-group">
                {{ form_errors(form.plainPassword.second) }}
                {{ form_label(form.plainPassword.second, 'Confirm new password'|trans) }}
                {{ form_widget(form.plainPassword.second, {'attr': {'class': 'form-control', 'placeholder': 'Confirm new password'}}) }}
            </div>
            <div>
                <input type="submit" class="btn btn-primary" value="{{ 'resetting.reset.submit'|trans }}" />
            </div>
            {{ form_end(form) }}
        </div>
    </div>
</div>

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<script type="text/javascript">
    $('.control-label').removeClass('col-sm-2');
    $('.control-label').addClass('col-sm-6');
    $('.control-label').css('padding-left', '10px');
</script>