{# src/WCDC/ConceptBundle/Resources/views/Upload #}

{#<script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
{#<script type="text/javascript" src="/WCDC/web/bundles/wcdcconcept/js/jquery.jcrop.min.js"></script>#}


{% if dying == 1 %}

    <script type="text/javascript">

        $(function () {

            $('#thumbnail2').cropper({
                aspectRatio: 1,
                viewMode: 3,
                crop: function (e) {
                    console.log(e.x);
                    console.log(e.y);
                    console.log(e.width);
                    console.log(e.height);
                    console.log(e.rotate);
                    console.log(e.scaleX);
                    console.log(e.scaleY);
                    updateCoords($('#thumbnail2').cropper('getData', true));
                }
            });
        });

        function updateCoords(c) {
            $('#x1') . val(c . x);
            $('#y1') . val(c . y);
            $('#w1') . val(c . width);
            $('#h1') . val(c . height);
        }

    </script>

    <img id="thumbnail2" src="{{ path }}">

{% elseif dying == 0 %}

    <script type="text/javascript">

        $(function () {

            $('#thumbnail').cropper({
                aspectRatio: 1,
                viewMode: 3,
                crop: function (e) {
                    console.log(e.x);
                    console.log(e.y);
                    console.log(e.width);
                    console.log(e.height);
                    console.log(e.rotate);
                    console.log(e.scaleX);
                    console.log(e.scaleY);
                    updateCoords($('#thumbnail').cropper('getData', true));
                }
            });
        });

        function updateCoords(c) {
            $('#x') . val(c . x);
            $('#y') . val(c . y);
            $('#w') . val(c . width);
            $('#h') . val(c . height);
        }

    </script>

    <img id="thumbnail" src="{{ path }}">

{% endif %}