{# src/WCDC/UserBundle/Resources/views/layout.html.twig #}

{% extends "WCDCCoreBundle::layout.html.twig" %}

{# Dans notre layout, il faut définir le block body #}
{% block body %}

     {#On affiche les messages flash que définissent les contrôleurs du bundle#}
    {#{% for key, messages in app.session.flashbag.all() %}#}
        {#{% for message in messages %}#}
            {#<div class="alert alert-{{ key }}" style="max-width: 600px">#}
                {#{{ message|trans({}, 'FOSUserBundle') }}#}
            {#</div>#}
        {#{% endfor %}#}
    {#{% endfor %}#}

    <div class="container-fluid">
        <div class="row">
     {#On définit ce block, dans lequel vont venir s'insérer les autres vues du bundle#}
    {% block fos_user_content %}

    {% endblock fos_user_content %}

        </div>
    </div>


{% endblock %}