{# src/WCDC/CoreBundle/Resources/views/Test #}

{% extends "WCDCCoreBundle::layout.html.twig" %}

{% block title %}
    {{ 'Test'|trans }} - {{ parent() }}
{% endblock %}

{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
                <video src="/WCDC/web/uploads/img/59.mp4" controls style="width: 640px; height: 480px;"></video>
            </div>
        </div>
    </div>


{% endblock %}