{# src/Blogger/BlogBundle/Resources/view/Page/contactEmail.txt.twig #}
A contact enquiry was made by {{ name ~ firstname}}.

Reply-To: {{ mail }} {% if phone not empty %} {{ ' or ' ~ phone }}
Subject: {{ subject }}
Body:
{{ msg }}