{# src/WCDC/ConceptBundle/Resources/views #}

{% extends 'WCDCCoreBundle::layout.html.twig' %}

{% block body %}

<div class="container-fluid">

    {% block body_title %}

    {% endblock body_title %}

    {% block body_content %}


    {% endblock body_content %}

</div>

{% endblock %}

